@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/*@import url("src/assets/font/stylesheet.css");*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
    --primary-orange: #F05722;
    --secondary-orange: #F08900;
    --secondary-blue: #052288;
    --secondary-purple: #440D78;
  }
  
  body {
    font-family: "Bw Modelica Cyrillic DEMO", "Open Sans", sans-serif;
    font-weight: 500;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    width: 100%;
  }
  
  a {
    color: #4154f1;
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Bw Modelica Cyrillic DEMO", "Open Sans", sans-serif;
    font-weight: 900;
  }

  h2 {
      font-size: 32px;
      font-weight: 700;
  }

  .color-po {
    color: var(--primary-orange);
  }

  .color-so {
    color: var(--secondary-orange);
  }

  .color-sb {
    color: var(--secondary-blue);
  }

  .color-sp {
    color: var(--secondary-purple);
  }

  section {
    width: 100%;
  }

  